/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  --topBarSize: 68px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #141414;
  color: #ffffff;
  min-height: calc(100vh - var(--topBarSize))
}


/* Fonts */
@font-face {
  font-family: ranchers;
  src: url(assets/Fonts/Ranchers-Regular.ttf);
}
