/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  --colorSuccess: #5cb85c;
  --colorError: #f44336;
  --topBarSize: 68px;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #141414;
  color: #ffffff;
  min-height: 100vh;
}


/* Fonts */
@font-face {
  font-family: ranchers;
  src: url(assets/Fonts/Ranchers-Regular.ttf);
}

/* styles */
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.m-16 {
  margin: 16px;
}


/* Message notification */
.errorMsg , .successMsg {
  font-weight: bold;
}
.errorMsg {
  color: var(--colorError);
}
.successMsg {
  color: var(--colorSuccess);
}
